.card {
    background-image: linear-gradient(to bottom right,rgba(255, 255, 255, 0.507), rgba(128, 128, 128, 0.342));
     transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}